.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.debug {
  background-color: green;
}

.debug-l {
  background-color: blue;
}

.debug-r {
  background-color: black;
}

/* Safari fix */
div[fxLayout="column"] > div[fxFlex] {
  flex: 1 0 auto !important;
}
