<div class="main-area border-area p-3">

  <h2>Make your links short</h2>
  <!-- Default inline form -->
  <form class="form-inline">
    <!-- Default input -->
    <label class="sr-only" for="inlineFormInputName2">Name</label>
    <input class="form-control mb-2 mr-sm-2 main-input" id="inlineFormInputName2" mdbInput placeholder="Jane Doe"
           type="text">
    <button class="mt-0" color="primary" mdbBtn>Submit</button>
  </form>
  <!-- Default inline form -->
  <span>Banner here</span>
</div>
