<!--Double navigation-->
<header>
  <!-- Sidebar navigation -->
  <mdb-side-nav #sidenav [fixed]="true" class="wide fixed">

    <mdb-navbar-brand>
      <!-- Logo -->
      <li>
        <div class="logo-wrapper waves-light">
          <a href="#"><img alt="d" class="img-fluid flex-center" src="favicon.ico"></a>
        </div>
      </li>
      <!--/. Logo -->
    </mdb-navbar-brand>

    <links>
      <!-- Side navigation links -->
      <li>
        <ul *ngFor="let page of pages" mdbWavesEffect>
          <a (click)="sidenav.hide()" routerLink="{{ page.route}}">
            <mdb-icon class="menu-icon far-icon" fas icon="{{ page.icon }}"></mdb-icon>
            <span class="menu-item-text">{{page.name}}</span>
          </a>
        </ul>
      </li>
      <!--/. Side navigation links -->
    </links>
    <div class="sidenav-bg mask-strong"></div>
  </mdb-side-nav>
  <!--/. Sidebar navigation -->

  <!-- NavBar -->
  <mdb-navbar SideClass="navbar navbar-expand-lg ie-nav fixed-top" [containerInside]="false">
    <div class="navbar-container">
      <!-- SideNav slide-out button -->
      <div class="float-left">
        <a (click)="sidenav.show()" class="button-collapse">
          <mdb-icon fas icon="bars"></mdb-icon>
        </a>
      </div>
      <!--/. SideNav slide-out button -->
    </div>

    <mdb-navbar-brand>
      <div class="navbar-brand">
        <strong>Yet another link shortener</strong>
      </div>
    </mdb-navbar-brand>
  </mdb-navbar>
  <!--/. NavBar -->
</header>
<!--/.Double navigation-->

<!--Main Layout-->
<main>
  <div class="container-fluid mt-3">
    <router-outlet></router-outlet>
  </div>
</main>
<!--/Main layout-->
