.side-nav {
  margin-top: 57px !important;
}

header, main, footer {
  padding-left: 170px;
}

@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

@media (min-width: 1200px) {
  .fixed-sn main {
    margin-left: 20% !important;
    margin-right: 20% !important;
  }
}

.navbar {
  z-index: 1040;
}


.navbar-container {
  order: -1;
  padding-left: 5px;
  padding-right: 5px;
  width: 50px !important;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.menu-item {
  width: 100%;
  box-sizing: border-box;
}

.active-menu-item {
  background-color: #e7f1fe;
}

.menu-icon {
  width: 16px;
  color: black;
}

.menu-item-text {
  color: black;
  font-size: 1.4rem !important;
}

.far-icon {
  margin-right: 13px;
}

ul .active {
  background-color: #4b4e52;
}
